---
import { SiteMetadata } from '../config'
---

<div class='bg-gray-50 dark:bg-black'>
  <div
    class='mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16'
  >
    <h2 class='text-3xl font-extrabold tracking-tight text-spruce dark:text-neutral-100 sm:text-4xl'>
      <span class='block'>Ready to start collaborating?</span>
      <span class='block text-orange dark:text-orange-500'
        >We're here to help you.
      </span>
    </h2>
    <div class='mt-8 flex lg:mt-0 lg:flex-shrink-0'>
      <div class='inline-flex rounded-md shadow'>
        <a
          href="/submit-form/marketing-inquiry"
          class='inline-flex items-center justify-center rounded-md border border-transparent bg-orange px-5 py-3 text-base font-medium text-spruce hover:bg-neutral hover:text-orange'
        >
          Reach out
        </a>
      </div>
      <div class='ml-4 inline-flex rounded-md shadow lg:ml-3'>
        <a
          href={SiteMetadata.repository}
          rel='noopener noreferrer'
          target='_blank'
          class='inline-flex items-center justify-center rounded-md border border-transparent bg-neutral px-5 py-3 text-base font-medium text-orange hover:bg-orange hover:text-spruce'
        >
          Github
        </a>
      </div>
    </div>
  </div>
</div>
